/* common :start */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400 !important;
    color: #000000;
}
/* common :end */

/* header :start */
header{
    background-color: #F0FFF0;
    padding: 5px 0;
}
.c_nav{

}
.logo{

}
.menu{

}
.menu ul li a{
    font-weight: 400;
    color: #000000 !important;
    line-height: 24px;
    text-transform: capitalize;
    padding: 0 24px !important;  
}
.menu ul li a:hover{
    color: #FD511A !important;
}

.btn_sign{
    width: 104px;
    height: 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 33px;
    color: white;
    background-color: #21B573;
    transition: 0.30s;
    border: 0;
}
.btn_sign:hover{
    color: white;
    background-color:#FD511A;
}
/* header :end */


.logo{

}

/* banner start  */
.banner{
    padding: 35px 0 65px 0;
    background-color: #F0FFF0;
}
.b_text{

}
.b_text p{

}
.red{
    color: #FD511A;
    line-height: 24px;
}
.b_h1{
    margin: 10px 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    color: #000000;
    
}
.b_h1 span{
    color: #21B573;;
}
.black{
    line-height: 36px;
}
.b_text p span {

}

.btn_sign2 {
    margin: 15px 0 0 0;
    width: 143px;
}
.b_img{
    
}
b.b_img img{

}
.
/* banner end  */